# Intergrate COPD Deaths Dataset
This file intergrates the COPD Deaths dataseet with the NSW Air Quality Data set.

## Set Up
Ensure that the required libraries are available by running the below code in the terminal before execution:
- pip install pandas


Execute the following in the jupyter notebook before execution to ensure that the required libraries are imported:

In [10]:
import pandas as pd

## Load Datasets

In [11]:
# Load data into dataframes.
df_air_quality = pd.read_csv('../../2-nsw-air-quality/data-processed-financial-year.csv')
df_influpneu_deaths = pd.read_csv('../../3-nsw-health-stats/respiratory-health/influenza-and-pneumonia/deaths/data-processed-alt.csv')

# View Headers.
print("Air Quality Headers:")
print(df_air_quality.columns.tolist())
print("\nCOPD Headers:")
print(df_influpneu_deaths.columns.tolist())

Air Quality Headers:
['financial year', 'lhd', 'CO ppm', 'NO pphm', 'NO2 pphm', 'OZONE pphm', 'PM10 µg/m³', 'SO2 pphm']

COPD Headers:
['financial year', 'lhd', 'Female rate per 100,000 population', 'Male rate per 100,000 population']

## Data Manipulation

In [12]:
df_influpneu_deaths = df_influpneu_deaths.rename(columns={
    'Female rate per 100,000 population': 'Influ/Pneum deaths [f] [rate per 100,000]',
    'Male rate per 100,000 population': 'Influ/Pneum deaths [m] [rate per 100,000]',
})

## Merge Datasets

Merge dataframes on 'financial year' and 'lhd'

In [13]:
# Merge dataframes on 'date' and 'lhd' columns.
df_merged = pd.merge(df_air_quality, df_influpneu_deaths, on=['financial year', 'lhd'], how='inner')

# View headers of merged dataframe.
df_merged.head()

,financial year,lhd,CO ppm,NO pphm,NO2 pphm,OZONE pphm,PM10 µg/m³,SO2 pphm,"Influ/Pneum deaths [f] [rate per 100,000]","Influ/Pneum deaths [m] [rate per 100,000]"
0,2011/2012,Hunter New England,0.083333,0.612114,0.771373,1.705556,15.220833,0.172927,7.8,11.3
1,2011/2012,Illawarra Shoalhaven,0.283333,0.316667,0.641667,1.891667,16.416667,0.083333,8.6,7.9
2,2011/2012,Murrumbidgee,NaN,0.202113,0.259077,1.816667,NaN,0.050000,9.3,10.6
3,2011/2012,Nepean Blue Mountains,NaN,0.091667,0.508333,1.700000,12.900000,0.018691,10.9,11.8
4,2011/2012,Northern Sydney,NaN,0.400000,0.850000,1.583333,12.900000,0.033333,9.5,8.8

## Output Merged Datasets

In [14]:
df_merged.to_csv('influenzapneumonia-deaths-merged.csv', index=False)