# Asthma Hospitalisations | Processing

The main tasks completed to clean and preprocess this dataset were:

**Data Manipulation**
1. Rename columns.
2. Reformat 'financial year' values from XX/YY to XXXX/YYYY
3. Remove 'LHD' from LHD name values.
4. Remove 'All' data (Representing a state-wide average).
5. Remove 'All Ages' data (Representing an aggregate of all risk groups)
5. Remove columns holding Confidence Interval data.

## Set Up

Ensure that the required libraries are available by running the below code in the terminal before execution:
- pip install pandas


Execute the following in the jupyter notebook before execution to ensure that the required libraries are imported:

In [33]:
import pandas as pd

## Load Dataset

In [43]:
# File path.
file_path = 'data-raw.csv'

# Read the file.
df = pd.read_csv(file_path)

df

,Sex,LHD,Risk group,Period,"Rate per 100,000 population",LL 95% CI,UL 95% CI
0,Males,Sydney LHD,5-34 years,1-Feb,123.6,100.8,149.7
1,Males,Sydney LHD,5-34 years,2-Mar,112.8,91.3,137.5
2,Males,Sydney LHD,5-34 years,3-Apr,120.0,97.9,145.5
3,Males,Sydney LHD,5-34 years,4-May,124.6,101.8,150.8
4,Males,Sydney LHD,5-34 years,5-Jun,117.6,95.3,143.4
...,...,...,...,...,...,...,...
8053,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8054,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8055,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8056,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8057,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Manipulation

Rename columns to match Air Quality data set.

In [35]:
# Rename columns.
df = df.rename(columns={
    'LHD': 'lhd',
    'Period': 'financial year'
})

# Set column names to lower case.
df.columns = df.columns.str.lower()

Mark Year data in 'financial year' column more verbose.

In [36]:
# Reformat 'financial year' values from XX/YY to XXXX/YYYY.
df['financial year'] = df['financial year'].apply(
    lambda x: f'20{x[:2]}/20{x[3:]}' if isinstance(x, str) else x
)

Remove ' LHD' for Local Health District values.

In [37]:
# Remove ' LHD' from the 'lhd' column.
df['lhd'] = df['lhd'].str.replace(' LHD', '')

Remove rows representing state-wide aggregated data.

In [38]:
# Remove rows with NaN in the 'lhd' column.
df = df.dropna(subset=['lhd'])

# Remove rows with 'All' in the 'lhd' column.
df = df[~df['lhd'].str.contains('All')]

Remove rows representing an aggregate of all risk groups within a Local Health District.

In [39]:
# Remove rows with NaN in the 'risk group' column.
df = df.dropna(subset=['risk group'])

# Remove rows with 'All ages' in the 'risk group' column.
df = df[~df['risk group'].str.contains('All ages')]

Remove columns holding Confidence Interval data.

In [40]:
# Drop columns with '% ci' in the header
df = df.loc[:, ~df.columns.str.contains('% ci')]

## Output Processed Dataset

In [41]:
# File path.
file_path_output = 'data-processed.csv'

# Save the file.
df.to_csv(file_path_output, index=False)

## View Dataset

In [42]:
df

,sex,lhd,risk group,financial year,"rate per 100,000 population"
0,Males,Sydney,5-34 years,201-/20eb,123.6
1,Males,Sydney,5-34 years,202-/20ar,112.8
2,Males,Sydney,5-34 years,203-/20pr,120.0
3,Males,Sydney,5-34 years,204-/20ay,124.6
4,Males,Sydney,5-34 years,205-/20un,117.6
...,...,...,...,...,...
3922,Persons,Far West,65+ years,2017/2018,152.4
3923,Persons,Far West,65+ years,2018/2019,69.2
3924,Persons,Far West,65+ years,2019/2020,72.5
3925,Persons,Far West,65+ years,2020/2021,80.6
3926,Persons,Far West,65+ years,2021/2022,77.8